.navbar-brand {
  font-family: Work Sans;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: #52dbb2;
}

.downarrow {
  margin-top: -12px;
}
.profile-item div {
  margin: 0px 10px;
}


a {
  text-decoration: none;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;

  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  margin: 30px;
  font-family: Work Sans;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0em;
}
 
.sidebar a.active {
  background: linear-gradient(90deg, #eafbf6 0%, rgba(255, 255, 255, 0) 96.6%);
  color: rgb(65, 31, 31);
}

.sidebar a:hover:not(.active) {
  background-color: #f1f1f9;
  color: rgb(14, 13, 13);
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

 @media (min-width: 250px) and (max-width: 992px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar a {float: left;
    
    margin: 0px;
    font-family: Work Sans;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0em;
  
    ;}
  div.content {margin-left: 0;}
}
 @media (min-width: 576px) and (max-width: 700px) {
.sidebar a i{
  display:none;

 }
 .sidebar a span{
  display: inline;
 }

 }

.teampro {
  text-align: center;
  border: 20px;
  width: 160px;
  height: 190px;
  padding-top: 10px;
  background-color: #f7fcfa;
  border-radius: 10px 10px 40px 40px;
}
.teampro p {
  text-align: center;
}
.teampro img {
  width: 58px;
}
.teampro button {
  width: 100%;
  border: none;
  font-family: Work Sans;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #52dbb2;
  padding: 10px;
  margin: 0;
  background-color: #eafaf6;
  border-radius: 0 0 40px 40px;
}
.teampro h4 {
  font-family: Work Sans;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0em;
}
.teampro p {
  font-family: Work Sans;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 478px) {
  .teampro {
   margin: 16x auto;
    width: 145px;
    height: 180px;
 
  }
  /* .teampro h4 {
    
    font-size: 16px;
   
  }
  .teampro p {

    font-size: 10px;
    
  } */
}